extends layout

block content
	div(class='container')
		nav( class="navbar navbar-default navbar-fixed-top")
			div(class='container')
				ul(class='nav navbar-nav')
					li
						a(href='/coffees', title='Home') Home
					li
						a(href='/coffees/add', title='Add') Add A Store
					li
						a(href='/coffees/displayall', title='Display All') Display All
		div(class='title')
			h2 #{coffee.title}
		div(class='container-fluid' class='display')
			div(class='map')
				!{coffee.location}
			div(class='col-md-6')
				img(src='/images/#{coffee.fileName}', class='storeimage')
			div(class='col-md-6' class='content')
				h3 #{coffee.description}
				div
					h2 Est. #{coffee.established}
				div
					h2 Top Coffee Flavours
					p 1. #{coffee.coffeetypes}
					p 2. #{coffee.coffeetype2}
					p 3. #{coffee.coffeetype3}
				div
					h2 Hours
					table
						tr
							td Monday - Friday
							td #{coffee.weekAm}
							td #{coffee.weekPm}
						tr
							td Saturday
							td #{coffee.satAm}
							td #{coffee.satPm}
						tr
							td Sunday
							td #{coffee.sunAm}
							td #{coffee.sunPm}
				div
					h2 Contact Us
					p #{coffee.email}
					p #{coffee.phone}
				div(class='col-md-6')
					a(href='/coffees/edit/#{coffee._id}' title='edit' class="btn btn-default") Edit
				div(class='col-md-6')
					a(href='/coffees/delete/#{coffee._id}' class="btn btn-default" title='Delete' onclick='return confirm(\'Are you sure you want to delete this Store?\');') Delete
